PORT=3002
MONGO_URI=mongodb+srv://rodrigovmoreira_link_mongo_db
VITE_API_URL=http://localhost:3002
JWT_SECRET_LOGIN=jwt_secret_login
JWT_EXPIRES_IN=7d
FIREBASE_BUCKET_URL=firebase_storage_bucket_url
VITE_FIREBASE_BUCKET=firebase_storage_bucket_url
VITE_SQUAMATA_URL=http://localhost:3005/generate-upload-url
VITE_SQUAMATA_SECRET=GfSLsZV8RFzVlPnJF5J8Ru1eUmi8Bs9DnNklmNSv6t73wJCtBsGcTpCsHPgKIq5s
VITE_LOGIN_URL=http://localhost:5174
GATEWAY_URL=http://localhost:3010
# Configurações do teu MinIO no servidor
S3_ENDPOINT=https://s3.bucket_url.com
S3_ACCESS_KEY_ID=access_key_id
S3_SECRET_ACCESS_KEY=secret_access_key
S3_BUCKET=bucket_name
S3_REGION=region_name
